.AlbumItem {
  height: 100px;
  background: #e7e7e7;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid silver;
}
.AlbumItem .preview {
  width: 100px;
  height: 100px;
  background-size: contain;
  flex-shrink: 0;
}
.AlbumItem .info {
  padding: 0 10px;
  flex-grow: 1;
  text-align: left;
  display: flex;
  flex-direction: column;

}
.AlbumItem .action {
  width: 100px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}
.AlbumItem .action:hover {
  background: rgba(256,256,256, .5);
}