.Photo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100px;
  border-radius: 4px;
  background: #e7e7e7;

  .preview {
    width: 100px;
    height: 100px;
    background-size: contain;
    flex-shrink: 0;
  }

  .Hint {
    display: none;
    bottom: calc(-100% - 36px);
  }

  &:hover .Hint {
    display: unset;
  }
}
